@use '@carbon/styles/scss/type';
@use '@carbon/styles/scss/spacing';
@use '@carbon/colors';
@import '~@openmrs/esm-styleguide/src/vars';

$success-color: #008000;
$danger-color: #B22222;

.card {
  background-color: $ui-02;
  padding-bottom: spacing.$spacing-04;
}

.container {
  display: flex;
  flex-direction: row;
  padding-left: 1rem;
  flex-wrap: wrap;
}

.value {
  @include type.type-style('body-short-02');
  color: colors.$gray-100;
}

.content {
  width: 25%;
  margin: spacing.$spacing-03 0;
  padding-left: 1rem;

  & > p:first-child {
    @include type.type-style('label-01');
    color: colors.$gray-70;
    margin-bottom: spacing.$spacing-02;
  }

  & span {
    @include type.type-style('body-short-02');
    color: colors.$gray-100;
  }
}
